<div class="container">
  <div class="row text-center">
    <div class="col pt-5">
      <h3>About</h3>
      <p>GreenCompassは、観葉植物を育成している方を対象にしたコミュニティサイトです。</br>
      日々の育成の様子を日記に書いて記録したり、お互いに知識を教え合ったり、</br>
      いいねやコメントすることで他の人と交流することもできます。</p>
    </div>
  </div>

  <div class="row pt-5 mb-auto">
    <div class="col-3">
      <%= image_tag "About1.png" ,size: "100x100", class: "mx-auto d-block mb-5" %>
      <h5 class="text-center">育成記録を投稿する</h5>
      <p class="text-center">植物の成長記録を簡単に投稿できます。写真やコメントを追加して、自分の育成の成果を共有しましょう。</p>
    </div>

    <div class="col-3">
      <%= image_tag "About2.png" ,size: "100x100", class: "mx-auto d-block mb-5" %>
      <h5 class="text-center">いいねをつける</h5>
      <p class="text-center">他のユーザーが投稿した育成記録に「いいね」をつけて、応援の気持ちを伝えましょう。</p>
    </div>

    <div class="col-3">
      <%= image_tag "About3.png" ,size: "100x100", class: "mx-auto d-block mb-5" %>
      <h5 class="text-center">コメントをつける</h5>
      <p class="text-center">気になる投稿にコメントを残して、意見交換や情報共有を楽しみましょう。</p>
    </div>

    <div class="col-3">
      <%= image_tag "About4.png" ,size: "100x100", class: "mx-auto d-block mb-5" %>
      <h5 class="text-center">コミュニティに参加する</h5>
      <p class="text-center">興味のあるコミュニティに参加して、同じ趣味を持つ仲間と交流しましょう。ユーザーや投稿の検索機能を使って、気になる内容を探すこともできます。</p>
    </div>
  </div>


</div>