<div class='container pt-5 px-5 px-sm-0'>
  <div class='row'>

    <div class="col-md-2 border">
        <%= render 'public/plant_diaries/sidebar' %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <h2>Communities</h2>

      <div>
        <%= link_to 'コミュニティを作成する', new_community_path %>
      </div>

      <%= render 'index', communities: @communities %>
    </div>

  </div>
</div>
