<div class="container-fluid pt-5">
  <div class="row justify-content-center">

    <div class='col-md-8'>
      <h2>Communities</h2>

      <%= render 'admin/communities/index', communities: @communities %>
    </div>

  </div>
</div>
