<ul class="list-group text-center">
  <li class="list-group-item custom-bg-color">ユーザーメニュー</li>
  <a href="<%= mypage_users_path %>" class="sidebar-item list-group-item list-group-item-action">マイページ</a>
  <a href="#" class="sidebar-item list-group-item list-group-item-action">タイムライン</a>
  <a href="<%= favorites_user_path(current_user) %>" class="sidebar-item list-group-item list-group-item-action">お気に入り</a>
  <a href="#" class="sidebar-item list-group-item list-group-item-action">メッセージ</a>
</ul>

<ul class="list-group pt-5 text-center">
  <li class="list-group-item custom-bg-color">投稿メニュー</li>
  <a href="/plant_diaries/new" class="sidebar-item list-group-item list-group-item-action">育成記録をつける</a>
  <a href="#" class="sidebar-item list-group-item list-group-item-action">質問を書く</a>
</ul>

<ul class="list-group pt-5 text-center">
  <li class="list-group-item custom-bg-color">コミュニティ</li>
  <a href="<%= communities_user_path(current_user) %>" class="sidebar-item list-group-item list-group-item-action">参加中のコミュニティ</a>
  <a href="#" class="sidebar-item list-group-item list-group-item-action">コミュニティを探す</a>
</ul>