<div class="container-fluid pt-5">
  <div class="row justify-content-center">
    <div class="col-2 border" id="user-detail">
      <!-- ユーザーの詳細情報はここに表示されます -->
    </div>
    <div class="col-8">
      <%= render 'admin/users/index' %>
    </div>
  </div>
</div>
